<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cluster and Cloud Computing</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery-jvectormap-2.0.3.css">
    <!-- Custom styles for this template -->
    <link href="/css/sidebar.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading" style="color: #ffffff">Team 3</div>
        <div class="list-group list-group-flush">
            <a href="<%='/intro'%>" class="list-group-item list-group-item-action bg-dark" style="color: #ffffff">
                <i class="fas fa-home"></i> Introduction
            </a>
            <a href="<%='/dashboard'%>" class="list-group-item list-group-item-action bg-dark" style="color: #ffffff">
                <i class="fas fa-chart-bar"></i> Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark" style="color: #ffffff">
                <i class="fab fa-youtube"></i> Demo</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" style="background-image: url('https://picsum.photos/id/730/5184/3456');">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn" id="menu-toggle"><i class="fa fa-bars"></i></button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="<%='/intro'%>">Cluster and Cloud Computing Project <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>The result shows below</span></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="stat-widget-two">
                            <div class="stat-content">
                                <div class="stat-text">Real Time Tweets </div>
                                <div class="stat-digit">
                                    <i class="fab fa-twitter"></i><%=realtime_total_pass.count%></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="stat-widget-two">
                            <div class="stat-content">
                                <div class="stat-text">Historical Tweets</div>
                                <div class="stat-digit">
                                    <i class="fab fa-twitter"></i><%=historical_totoal_pass.count%></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <p style="font-weight: bold;font-size: 24px;text-align: center;font-family: Impact, Charcoal;">
                            The 'Gluttony' Tweets Rate in Different States
                        </p>
                        <p style="font-weight: bold;font-size: 14px;text-align: center;font-family: Impact, Charcoal;">
                            In Real-time Tweets
                        </p>
                        <div id="au-map" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="melb_chartAxes" style="height: 390px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="chartCities_States" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="barChartCities" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="aurinChart" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="barChartCitiesHistorical" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<div class="row">
    <div class="col-lg-12">
        <div class="footer">
            <p>2019 © Cluster and Cloud Computing. - <a href="#">The University of Melbourne</a></p>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/jquery/jquery-jvectormap-2.0.3.min.js"></script>

<!--- World SVG Path Info file in jVectorMap supported format-->
<script src="/jquery/jquery-jvectormap-au-mill.js"></script>
<script>
    var tweetsCount = {
        "AU-NT": <%=((realtime_token_pass.nt/realtime_total_pass.nt)*100).toFixed(2)%> +'%',
        "AU-WA": <%=((realtime_token_pass.wa/realtime_total_pass.wa)*100).toFixed(2) %> + '%',
        "AU-TAS": <%=((realtime_token_pass.tas/realtime_total_pass.tas)*100).toFixed(2)%> +'%',
        "AU-VIC": <%=((realtime_token_pass.vic/realtime_total_pass.vic)*100).toFixed(2)%> +'%',
        "AU-QLD": <%=((realtime_token_pass.qs/realtime_total_pass.qs)*100).toFixed(2)%> +'%',
        "AU-SA": <%=((realtime_token_pass.sa/realtime_total_pass.sa)*100).toFixed(2)%> +'%',
        "AU-NSW": <%=((realtime_token_pass.nsw/realtime_total_pass.nsw)*100).toFixed(2)%> +'%'
    };
    $('#au-map').vectorMap({
        map: 'au_mill',
        series: {
            regions: [
                {
                    values: tweetsCount,
                    scale: ['#C8EEFF', '#0071A4'],
                    normalizeFunction: 'polynomial'
                }
            ]
        },
        onRegionTipShow: function(e, el, code){
            el.html(el.html()+' (Total tweets - '+tweetsCount[code]+')');
        }
    });
</script>
<script>
    var chart = new CanvasJS.Chart("melb_chartAxes", {
        animationEnabled: true,
        title:{
            text: "The trend of 'Fat' tweets in Melbourne (2014-2018)"
        },
        axisX: {
            title: "Years"
        },
        axisY: {
            title: "Tweets Amount",
            titleFontColor: "#4F81BC",
            lineColor: "#4F81BC",
            labelFontColor: "#4F81BC",
            tickColor: "#4F81BC",
            includeZero: false
        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor: "pointer",
            itemclick: toggleDataSeries
        },
        data: [{
            type: "spline",
            name: "Tweets Count",
            showInLegend: true,
            xValueFormatString: "Year: ####",
            yValueFormatString: "#,##0 Tweets",
            dataPoints: [
                { x: 2014,  y: <%=melb_historical_pass.year_14%> },
                { x: 2015, y: <%=melb_historical_pass.year_15%> },
                { x: 2016, y: <%=melb_historical_pass.year_16%>},
                { x: 2017,  y: <%=melb_historical_pass.year_17%> },
                { x: 2018,  y: <%=melb_historical_pass.year_18%> }
            ]
        }]
    });
    chart.render();

    function toggleDataSeries(e){
        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        }
        else{
            e.dataSeries.visible = true;
        }
        chart.render();
    }


</script>
<script type="text/javascript">
    var chart = new CanvasJS.Chart("chartCities_States", {
        animationEnabled: true,
        title:{
            text: "'Gluttony' Tweets Rate in Different Cities"
        },
        subtitles:[{
            text: "In Real-time Tweets"
        }],
        axisY: {
            title: "Different States (%)",
            titleFontColor: "#4F81BC",
            lineColor: "#4F81BC",
            labelFontColor: "#4F81BC",
            tickColor: "#4F81BC"
        },
        axisY2: {
            title: "Different Cities (%)",
            titleFontColor: "#C0504E",
            lineColor: "#C0504E",
            labelFontColor: "#C0504E",
            tickColor: "#C0504E"
        },
        toolTip: {
            shared: true
        },
        legend: {
            cursor:"pointer",
            itemclick: toggleDataSeries
        },
        data: [{
            type: "column",
            name: "Tweets Percentage(State)",
            legendText: "State",
            showInLegend: true,
            yValueFormatString: "##.### %",
            dataPoints:[
                { label: "VIC (Melbourne)",  y: <%=(realtime_token_pass.vic/realtime_total_pass.vic)%>},
                { label: "NSW (Sydney)", y: <%=(realtime_token_pass.nsw/realtime_total_pass.nsw)%>},
                { label: "SA (Adelaide)",  y: <%=(realtime_token_pass.sa/realtime_total_pass.sa)%> },
                { label: "WA (Perth)", y: <%=(realtime_token_pass.wa/realtime_total_pass.wa)%>},
                { label: "TAS (Hobart)", y: <%=(realtime_token_pass.tas/realtime_total_pass.tas)%>},
            ]
        },
            {
                type: "column",
                name: "Tweets Percentage(City)",
                legendText: "City",
                axisYType: "secondary",
                showInLegend: true,
                yValueFormatString: "##.### %",
                dataPoints:[
                    { label: "VIC (Melbourne)", y: <%=(realtime_token_pass.mel/realtime_total_pass.mel)%>   },
                    { label: "NSW (Sydney)",  y: <%=(realtime_token_pass.syd/realtime_total_pass.syd)%>  },
                    { label: "SA (Adelaide)",  y: <%=(realtime_token_pass.ade/realtime_total_pass.ade)%>  },
                    { label: "WA (Perth)", y: <%=(realtime_token_pass.per/realtime_total_pass.per)%> },
                    { label: "TAS (Hobart)",  y: <%=(realtime_token_pass.hob/realtime_total_pass.hob)%>  }
                ]
            }]
    });
    chart.render();

    function toggleDataSeries(e) {
        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
            e.dataSeries.visible = false;
        }
        else {
            e.dataSeries.visible = true;
        }
        chart.render();
    }
</script>
<script type="text/javascript">
    var chartCities = new CanvasJS.Chart("barChartCities", {
        theme: "light1", // "light2", "dark1", "dark2"
        animationEnabled: true, // change to true
        title:{
            text: "'Gluttony' Tweets Rate in Different Cities"
        },
        subtitles:[{
            text: "In Real-time Tweets"
        }],
        axisX:{
            interval: 1
        },
        axisY2:{
            interlacedColor: "rgba(1,77,101,.2)",
            gridColor: "rgba(1,77,101,.1)",
        },
        data: [
            {
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "bar",
                color: "#014D65",
                axisYType: "secondary",
                yValueFormatString: "#.### %",
                dataPoints: [
                    { label: "Adelaide",  y: <%=(realtime_token_pass.ade/realtime_total_pass.ade)%> },
                    { label: "Brisbane", y: <%=(realtime_token_pass.bri/realtime_total_pass.bri)%>},
                    { label: "Melbourne", y: <%=(realtime_token_pass.mel/realtime_total_pass.mel)%>},
                    { label: "Sydney",  y: <%=(realtime_token_pass.syd/realtime_total_pass.syd)%>},
                    { label: "Canberra", y: <%=(realtime_token_pass.can/realtime_total_pass.can)%>},
                    { label: "Perth", y: <%=(realtime_token_pass.per/realtime_total_pass.per)%>},
                    { label: "Hobart",  y: <%=(realtime_token_pass.hob/realtime_total_pass.hob)%> }
                ]
            }
        ]
    });
    chartCities.render();
</script>
<script>
    var chart = new CanvasJS.Chart("aurinChart", {
        animationEnabled: true,
        theme: "light2", // "light1", "light2", "dark1", "dark2"
        title:{
            text: "AURIN: The Obese Rate in Different States"
        },
        subtitles:[
            {
                text: "PHIDU: Prevalence of Selected Health Risk Factors (2014-2015)"
            }
        ],
        axisY: {
            title: "The Obese Rate(%)"
        },
        data: [{
            type: "column",
            yValueFormatString: "##.### %",
            dataPoints: [
                { label:"New South Wales", y: 0.276035},
                { label:"Victoria", y: 0.261577},
                { label:"Queensland", y: 0.297497},
                { label:"South Australia", y: 0.292948},
                { label:"Western Australia", y: 0.239627},
                { label:"Tasmania", y: 0.308272},
                { label:"Northern Territory", y: 0.293028}
            ]
        }]
    });
    chart.render();
</script>
<script type="text/javascript">
    var chartCities = new CanvasJS.Chart("barChartCitiesHistorical", {
        theme: "light1", // "light2", "dark1", "dark2"
        animationEnabled: true, // change to true
        title:{
            text: "'Gluttony' Tweets Rate in Different Cities"
        },
        subtitles:[{
            text: "In Historical Tweets"
        }],
        axisX:{
            interval: 1
        },
        axisY2:{
            interlacedColor: "rgba(1,77,101,.2)",
            gridColor: "rgba(1,77,101,.1)",
        },
        data: [
            {
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "bar",
                color: "#014D65",
                axisYType: "secondary",
                yValueFormatString: "##.### %",
                dataPoints: [
                    { label: "Adelaide",  y: <%=(historical_token_pass.ade/historical_totoal_pass.ade)%>  },
                    { label: "Brisbane", y: <%=(historical_token_pass.bri/historical_totoal_pass.bri)%>  },
                    { label: "Melbourne", y: <%=(historical_token_pass.mel/historical_totoal_pass.mel)%>   },
                    { label: "Sydney",  y: <%=(historical_token_pass.syd/historical_totoal_pass.syd)%>  },
                    { label: "Canberra", y: <%=(historical_token_pass.can/historical_totoal_pass.can)%>  },
                    { label: "Perth", y: <%=(historical_token_pass.per/historical_totoal_pass.per)%> },
                    { label: "Hobart",  y: <%=(historical_token_pass.hob/historical_totoal_pass.hob)%>  }
                ]
            }
        ]
    });
    chartCities.render();
</script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>