<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cluster and Cloud Computing</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery-jvectormap-2.0.3.css">
    <!-- Custom styles for this template -->
    <link href="/css/sidebar.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <i class="fas fa-chevron-down"></i> Team 3
        </div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action bg-light">
                <i class="fas fa-home"></i> Introduction
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-light">
                <i class="fas fa-chart-bar"></i> Dashboard</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">
                <i class="fab fa-youtube"></i> Demo</a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn" id="menu-toggle"><i class="fa fa-bars"></i></button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Cluster and Cloud Computing Project <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>The result shows below</span></h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="stat-widget-two">
                            <div class="stat-content">
                                <div class="stat-text">Real Time Tweets </div>
                                <div class="stat-digit">
                                    <i class="fab fa-twitter"></i><%=totalTweets%></div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="stat-widget-two">
                            <div class="stat-content">
                                <div class="stat-text">Historical Tweets</div>
                                <div class="stat-digit">
                                    <i class="fab fa-twitter"></i>None</div>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="au-map" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="barChartCities" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="barChartStates" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="chartAxes" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="ringChart" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div id="pieChartContainer" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<div class="row">
    <div class="col-lg-12">
        <div class="footer">
            <p>2019 © Cluster and Cloud Computing. - <a href="#">The University of Melbourne</a></p>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="/jquery/ringChart.js"></script>
<script src="/jquery/chartWMultipleAxes.js"></script>
<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/jquery/jquery-jvectormap-2.0.3.min.js"></script>

<!--- World SVG Path Info file in jVectorMap supported format-->
<script src="/jquery/jquery-jvectormap-au-mill.js"></script>
<script>
    var tweetsCount = {
        "AU-NT": 0,
        "AU-WA": <%=wa_total%>,
        "AU-TAS": <%=tas_total%>,
        "AU-VIC": <%=vic_total%>,
        "AU-QLD": <%=qs_total%>,
        "AU-SA": <%=sa_total%>,
        "AU-NSW": <%=nsw_total%>
    };
    $('#au-map').vectorMap({
        map: 'au_mill',
        series: {
            regions: [
                {
                    values: tweetsCount,
                    scale: ['#C8EEFF', '#0071A4'],
                    normalizeFunction: 'polynomial'
                }
            ]
        },
        onRegionTipShow: function(e, el, code){
            el.html(el.html()+' (Total tweets - '+tweetsCount[code]+')');
        }
    });
</script>
<script type="text/javascript">
    var chartCities = new CanvasJS.Chart("barChartCities", {
        theme: "light1", // "light2", "dark1", "dark2"
        animationEnabled: false, // change to true
        title:{
            text: "Percentage of 'FAT' Tweets in Different Cities"
        },
        axisX:{
            interval: 1
        },
        axisY2:{
            interlacedColor: "rgba(1,77,101,.2)",
            gridColor: "rgba(1,77,101,.1)",
            title: "Number of Companies"
        },
        data: [
            {
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "bar",
                color: "#014D65",
                axisYType: "secondary",
                dataPoints: [
                    { label: "Adelaide",  y: <%=ade_Pass*100%> },
                    { label: "Brisbane", y: <%=bri_Pass*100%> },
                    { label: "Melbourne", y: <%=mel_Pass*100 %>  },
                    { label: "Sydney",  y: <%=syd_Pass*100 %> },
                    { label: "Canberra", y: <%=can_Pass*100 %>  },
                    { label: "Perth", y: <%=per_Pass*100 %>},
                    { label: "Hobart",  y: <%=hob_Pass*100 %> }
                ]
            }
        ]
    });
    chartCities.render();
</script>
<script type="text/javascript">
    var chartStates = new CanvasJS.Chart("barChartStates", {
        theme: "light1", // "light2", "dark1", "dark2"
        animationEnabled: false, // change to true
        title:{
            text: "Percentage of 'FAT' Tweets in Different States"
        },
        data: [
            {
                // Change type to "bar", "area", "spline", "pie",etc.
                type: "column",
                dataPoints: [
                    { label: "Victoria",  y: <%=vic_Pass*100%> },
                    { label: "New South Wales", y: <%=nsw_Pass*100%> },
                    { label: "Queensland", y: <%=qs_Pass*100 %>  },
                    { label: "South Australia",  y: <%=sa_Pass*100 %> },
                    { label: "Tasmania", y: <%=tas_Pass*100 %>  },
                    { label: "Western Australia", y: <%=wa_Pass*100 %>}
                ]
            }
        ]
    });
    chartStates.render();
</script>
<script>
    var pieChart = new CanvasJS.Chart("pieChartContainer", {
        exportEnabled: true,
        animationEnabled: true,
        title:{
            text: "State Operating Funds"
        },
        legend:{
            cursor: "pointer",
            itemclick: explodePie
        },
        data: [{
            type: "pie",
            showInLegend: true,
            toolTipContent: "{name}: <strong>{y}%</strong>",
            indexLabel: "{name} - {y}%",
            dataPoints: [
                { y: 26, name: "School Aid", exploded: true },
                { y: 20, name: "Medical Aid" },
                { y: 5, name: "Debt/Capital" },
                { y: 3, name: "Elected Officials" },
                { y: 7, name: "University" },
                { y: 17, name: "Executive" },
                { y: 22, name: "Other Local Assistance"}
            ]
        }]
    });
    pieChart.render();

    function explodePie (e) {
        if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
        } else {
            e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
        }
        e.chart.render();

    }
</script>
<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>